Repository dragosr90/data-sourcing-test: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff lint
        entry: ruff check
        files: ^(src|test|notebooks|scripts)/.*\.py$
        language: python
        types: [file, python]
      - id: ruff
        name: ruff format
        entry: ruff format
        files: ^(src|test|notebook|scripts)/.*\.py$
        language: python
        types: [ file, python ]
      - id: mypy
        name: mypy
        entry: mypy
        files: ^(src|scripts)/.*\.py$
        language: python
        types: [ file, python ]

Delete README.md
  README.md
Due: none

Create __init__.py
  test/test_transform/__init__.py
Due: ruff

Add files via upload
  test/test_transform/test_all_columns.py
  test/test_transform/test_expressions.py
  test/test_transform/test_pipeline_yaml_integrated_target.py
  test/test_transform/test_transform_business_logic_sql.py
  test/test_transform/test_validate.py
  test/test_transform/test_write_and_comment.py
Due: ruff

Create __init__.py
  test/test_utils/__init__.py
Due: ruff

Add files via upload
  test/test_utils/test_export_parquet.py
  test/test_utils/test_get_catalog.py
  test/test_utils/test_parameter_utils.py
  test/test_utils/test_sources_util.py
  test/test_utils/test_table_schema.py
Due: ruff

Create __init__.py
  test/data/__init__.py
Due: ruff

Add files via upload
  test/data/TEST_SCHEMA.json
  test/data/TEST_YAML.yml
  test/data/TEST_YAML_PIVOT.yml
  test/data/epr_src.py
  test/data/epr_transform.py
Due: ruff

Create dq
  test/data/dq
Due: none

Delete test/data/dq
  test/data/dq
Due: none

Create dq_test_[]_happy.yml
  test/data/dq/dq_test_[]_happy.yml
Due: none

Add files via upload
  test/data/dq/dq_test_fr_happy.yml
  test/data/dq/dq_test_fr_no_generic.yml
  test/data/dq/dq_test_happy.yml
  test/data/dq/dq_test_happy_col_num.yml
  test/data/dq/dq_test_unhappy_col_num.yml
  test/data/dq/dq_test_unhappy_not_null.yml
  test/data/dq/dq_test_unhappy_num_cols.yml
  test/data/dq/dq_test_unhappy_pk_dup.yml
  test/data/dq/dq_test_unhappy_pk_null.yml
  test/data/dq/dq_test_unhappy_ref.yml
  test/data/dq/dq_test_unhappy_ref_filter.yml
  test/data/dq/dq_test_unhappy_type_cols.yml
  test/data/dq/dq_test_unhappy_unique.yml
Due: none

Create __init__.py
  test/month_setup/__init__.py
Due: ruff

Add files via upload
  test/month_setup/test_dial_snapshotdate.py
Due: ruff

Create __init__.py
  test/test_dq/__init__.py
Due: ruff

Add files via upload
  test/test_dq/test_dq_validation.py
Due: ruff

Create __init__.py
  test/test_extract/__init__.py
Due: ruff

Add files via upload
  test/test_extract/test_get_master_data.py
Due: ruff

Create __init__.py
  test/__init__.py
Due: ruff

Add files via upload
  test/conftest.py
Due: ruff

Create __init__.py
  src/__init__.py
Due: ruff, mypy

Create __init__.py
  src/transform/__init__.py
Due: ruff, mypy

Add files via upload
  src/transform/table_write_and_comment.py
  src/transform/transform_business_logic_sql.py
Due: ruff, mypy

Create __init__.py
  src/utils/__init__.py
Due: ruff, mypy

Add files via upload
  src/utils/alias_util.py
  src/utils/export_parquet.py
  src/utils/get_catalog.py
  src/utils/get_dbutils.py
  src/utils/logging_util.py
  src/utils/parameter_utils.py
  src/utils/parse_yaml.py
  src/utils/process_logging.py
  src/utils/sources_util.py
  src/utils/table_schema.py
Due: ruff, mypy

Create __init__.py
  src/validate/__init__.py
Due: ruff, mypy

Add files via upload
  src/validate/base.py
  src/validate/expressions.py
  src/validate/run_all.py
  src/validate/sources.py
  src/validate/transformations.py
  src/validate/validate_sql.py
  src/validate/yaml.py
Due: ruff, mypy

Create __init__.py
  src/config/__init__.py
Due: ruff, mypy

Add files via upload
  src/config/constants.py
  src/config/logging.config.yaml
  src/config/schema.py
Due: ruff, mypy

Create __init__.py
  src/dq/__init__.py
Due: ruff, mypy

Add files via upload
  src/dq/dq_validation.py
Due: ruff, mypy

Create __init__.py
  src/extract/__init__.py
Due: ruff, mypy

Add files via upload
  src/extract/master_data_sql.py
Due: ruff, mypy

Create __init__.py
  src/month_setup/__init__.py
Due: ruff, mypy

Add files via upload
  src/month_setup/dial_derive_snapshotdate.py
  src/month_setup/metadata_log_tables.py
  src/month_setup/setup_new_month.py
Due: ruff, mypy

Create stg_ssf_cf.json
  table_structures/stg/stg_ssf_cf.json
Due: none

Create Run_YAML_mapping_descriptive.py
  notebooks/Run_YAML_mapping_descriptive.py
Due: ruff

Add files via upload
  notebooks/Run_YAML_mapping__minimal.py
Due: ruff

Create __init__.py
  scripts/__init__.py
Due: ruff, mypy

Add files via upload
  scripts/export_tine_tables.py
  scripts/new_month_setup.py
  scripts/run_mapping.py
Due: ruff, mypy

Create enrich_facility_roll_up.yml
  business_logic/enrichment/enrich_facility_roll_up.yml
Due: none
