Repository dragosr90/data-sourcing-test: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff lint
        entry: ruff check
        files: ^(src|test|notebooks|scripts)/.*\.py$
        language: python
        types: [file, python]
      - id: ruff
        name: ruff format
        entry: ruff format
        files: ^(src|test|notebook|scripts)/.*\.py$
        language: python
        types: [ file, python ]
      - id: mypy
        name: mypy
        entry: mypy
        files: ^(src|scripts)/.*\.py$
        language: python
        types: [ file, python ]

Create intercompany.yml
  business_logic/integration/intercompany.yml
Due: none

Add files via upload
  business_logic/exemption_claim_credit_facility_structure.xlsx
Due: none

Add files via upload
  business_logic/Untitled_Notebook_2025_04_29_16_44_43 (26).csv
Due: none

Add files via upload
  business_logic/Untitled_Notebook_2025_03_28_17_33_55.csv
Due: none

Create exemption_claim_credit_facility.yml
  business_logic/enrichment/exemption_claim_credit_facility.yml
Due: none

Update Run_YAML_mapping__minimal.py
  notebooks/Run_YAML_mapping__minimal.py
Due: ruff

Add files via upload
  minimal_yaml_log.txt
Due: none

Update parse_yaml.py
  src/utils/parse_yaml.py
Due: ruff, mypy

Update exemption_claim_credit_facility.yml
  business_logic/enrichment/exemption_claim_credit_facility.yml
Due: none

Create exemption_claim_fac.yml
  business_logic/enrichment/exemption_claim_fac.yml
Due: none

Update integrated_facilitiy.yml
  business_logic/integration/integrated_facilitiy.yml
Due: none

Add files via upload
  staging_ADF_pipeline.jpg
Due: none

Create nonssf_staging_process.py
  scripts/nonssf_staging_process.py
Due: ruff, mypy

Create extract_nonssf_data.py
  staging/extract_nonssf_data.py
Due: none

Create extract_base.py
  staging/extract_base.py
Due: none

Create status.py
  staging/status.py
Due: none

Create export_parquet.py
  utils/export_parquet.py
Due: none

Create get_env.py
  utils/get_env.py
Due: none

Create logging_util.py
  utils/logging_util.py
Due: none

Create table_logging.py
  utils/table_logging.py
Due: none

Create exceptions.py
  src/config/exceptions.py
Due: ruff, mypy

Create process.py
  src/config/process.py
Due: ruff, mypy

Create test_extract_non_ssf_data.py
  test/staging/test_extract_non_ssf_data.py
Due: ruff

Add files via upload
  Staging Non-SSF User story.txt
Due: none

Update nonssf_staging_process.py
  scripts/nonssf_staging_process.py
Due: ruff, mypy

Update extract_nonssf_data.py
  staging/extract_nonssf_data.py
Due: none

Add files via upload
  ruff_errors.txt
Due: none

Update ruff_errors.txt
  ruff_errors.txt
Due: none

Update test_extract_non_ssf_data.py
  test/staging/test_extract_non_ssf_data.py
Due: ruff

Add files via upload
  test/staging/pytest_test_extract_non_ssf_data.txt
Due: none

Update pytest_test_extract_non_ssf_data.txt
  test/staging/pytest_test_extract_non_ssf_data.txt
Due: none
