Repository dragosr90/data-sourcing-test: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy

ruff:
  name: ruff format
  entry: ruff format
  language: python

mypy:
  name: mypy
  entry: mypy
  language: python

Update fair_turnover_updated_logic.yml
  business_logic/integration/fair_turnover_updated_logic.yml
Due: none

Update run_log.txt
  business_logic/integration/run_log.txt
Due: none

Update sql_queries_lbr_data.txt
  business_logic/integration/sql_queries_lbr_data.txt
Due: none

Update fair_turnover.yml
  business_logic/integration/fair_turnover.yml
Due: none

Add files via upload
  business_logic/integration/dial_fair_pd_model_component_essentials_sample_2.csv
  business_logic/integration/fair_turnover (2).csv
Due: none

Update extract_nonssf_data.py
  staging/extract_nonssf_data.py
Due: none

Update nonssf_staging_process.py
  scripts/nonssf_staging_process.py
Due: ruff, mypy

Update test_extract_non_ssf_data.py
  test/staging/test_extract_non_ssf_data.py
Due: ruff

Update pytest_test_extract_non_ssf_data.txt
  test/staging/pytest_test_extract_non_ssf_data.txt
Due: none

Create test_nonssf_staging_process.py
  test/scripts/test_nonssf_staging_process.py
Due: ruff

Create pytest_log.txt
  test/scripts/pytest_log.txt
Due: none

Update test_nonssf_staging_process.py
  test/scripts/test_nonssf_staging_process.py
Due: ruff

Update pd_ucr_step1.yml
  business_logic/integration/pd_ucr_step1.yml
Due: none

Path conditions:
  ruff: (any of: ^(src|test|notebooks|scripts)/.*\.py$ and \.py$) or (any of: ^(src|test|notebook|scripts)/.*\.py$ and \.py$)
  mypy: any of: ^(src|scripts)/.*\.py$ and \.py$
