Repository dragosr90/data-sourcing-test: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy

ruff:
  name: ruff format
  entry: ruff format
  language: python

mypy:
  name: mypy
  entry: mypy
  language: python

Update fair_turnover.yml
  business_logic/integration/fair_turnover.yml
Due: none

Update run_log_2.txt
  business_logic/integration/run_log_2.txt
Due: none

Update table_write_and_comment.py
  src/transform/table_write_and_comment.py
Due: ruff, mypy

Add files via upload
  business_logic/integration/result_fair_turnover.csv
Due: none

Add files via upload
  business_logic/integration/Untitled_Notebook_2025_04_29_16_44_43 (35).csv
Due: none

Update test_extract_non_ssf_data.py
  test/staging/test_extract_non_ssf_data.py
Due: ruff

Update extract_base.py
  staging/extract_base.py
Due: none

Path conditions:
  ruff: (any of: ^(src|test|notebooks|scripts)/.*\.py$ and \.py$) or (any of: ^(src|test|notebook|scripts)/.*\.py$ and \.py$)
  mypy: any of: ^(src|scripts)/.*\.py$ and \.py$
