Repository dragosr90/data-sourcing-test: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff lint
        entry: ruff check
        files: ^(src|test|notebooks|scripts)/.*\.py$
        language: python
        types: [file, python]
      - id: ruff
        name: ruff format
        entry: ruff format
        files: ^(src|test|notebook|scripts)/.*\.py$
        language: python
        types: [ file, python ]
      - id: mypy
        name: mypy
        entry: mypy
        files: ^(src|scripts)/.*\.py$
        language: python
        types: [ file, python ]

Add files via upload
  business_logic/enrichment/enrich_facility_roll_up_fbs.yml
  business_logic/enrichment/enrich_ssf_ca_dummy_fac.yml
  business_logic/enrichment/enrich_ssf_ca_dummy_fac_fbs.yml
  business_logic/enrichment/enrich_ssf_cf_be.yml
  business_logic/enrichment/enrich_ssf_cf_de.yml
  business_logic/enrichment/enrich_ssf_cf_fr.yml
  business_logic/enrichment/enrich_ssf_cf_x_col.yml
  business_logic/enrichment/enrich_ssf_col.yml
  business_logic/enrichment/enrich_ssf_cp_be.yml
  business_logic/enrichment/enrich_ssf_cp_de.yml
  business_logic/enrichment/enrich_ssf_cp_fr.yml
  business_logic/enrichment/enrich_ssf_cp_x_gtee_fr.yml
  business_logic/enrichment/enrich_ssf_gtee_fr.yml
  business_logic/enrichment/enrich_ssf_pr_be.yml
  business_logic/enrichment/enrich_ssf_pr_de.yml
  business_logic/enrichment/enrich_ssf_pr_fbs.yml
  business_logic/enrichment/enrich_ssf_pr_fr.yml
  business_logic/enrichment/facility_with_dummy_be.yml
  business_logic/enrichment/facility_with_dummy_de.yml
  business_logic/enrichment/facility_with_dummy_fr.yml
  business_logic/enrichment/tine_cpty_be.yml
  business_logic/enrichment/tine_cpty_de.yml
  business_logic/enrichment/tine_cpty_fr.yml
  business_logic/enrichment/tine_npl_credit_fac_agmt_be.yml
  business_logic/enrichment/tine_npl_credit_fac_agmt_de.yml
  business_logic/enrichment/tine_npl_credit_fac_agmt_fr.yml
  business_logic/enrichment/tine_npl_guarantee_agmt_fr.yml
  business_logic/enrichment/tine_npl_guarantee_links_fr.yml
  business_logic/enrichment/tine_npl_lending_expo_agmt_be.yml
  business_logic/enrichment/tine_npl_lending_expo_agmt_de.yml
  business_logic/enrichment/tine_npl_lending_expo_agmt_fr.yml
Due: none

Create epr_global_cpty.yml
  business_logic/integration/epr_global_cpty.yml
Due: none

Add files via upload
  business_logic/integration/int_dial_rating_fca_scra.yml
  business_logic/integration/int_ssf_ca.yml
  business_logic/integration/int_ssf_cf.yml
  business_logic/integration/int_ssf_cf_x_col.yml
  business_logic/integration/int_ssf_col.yml
  business_logic/integration/int_ssf_cp.yml
  business_logic/integration/int_ssf_cp_x_ca.yml
  business_logic/integration/int_ssf_cp_x_cf.yml
  business_logic/integration/int_ssf_cp_x_gtee.yml
  business_logic/integration/int_ssf_ext_cust_collateral_eligibility.yml
  business_logic/integration/int_ssf_fp.yml
  business_logic/integration/int_ssf_gtee.yml
  business_logic/integration/int_ssf_gtee_x_gtor.yml
  business_logic/integration/int_ssf_pr.yml
  business_logic/integration/ssf_dummy_facility.yml
  business_logic/integration/ssf_facility_rollup.yml
Due: none

Create ssf_fac_fr.yml
  business_logic/comparison/ssf_fac_fr.yml
Due: none

Create tgt_ssf_cf_x_col.yml
  business_logic/distribution/tgt_ssf_cf_x_col.yml
Due: none

Add files via upload
  business_logic/distribution/tgt_ssf_col.yml
  business_logic/distribution/tine_cpty.yml
  business_logic/distribution/tine_npl_collateral_agmt.yml
  business_logic/distribution/tine_npl_collateral_links.yml
  business_logic/distribution/tine_npl_credit_fac_agmt.yml
  business_logic/distribution/tine_npl_guarantee_agmt.yml
  business_logic/distribution/tine_npl_guarantee_links.yml
  business_logic/distribution/tine_npl_lending_expo_agmt.yml
  business_logic/distribution/tine_pl_collateral_agmt.yml
  business_logic/distribution/tine_pl_collateral_links.yml
Due: none

Add files via upload
  business_logic/BCR_CPTY.yml
  business_logic/How-to-fill-metadata-yaml.md
  business_logic/commit-and-push.png
  business_logic/create-branch.png
  business_logic/create-branch2.png
  business_logic/git-overview.png
  business_logic/repo-databricks.png
  business_logic/template.yml
Due: none

Create int_ssf_col.yml
  dq_checks/int/int_ssf_col.yml
Due: none

Create tstg_ssf_collateral.yml
  dq_checks/stg/tstg_ssf_collateral.yml
Due: none

Create metadata_dial_schedule.csv
  metadata/metadata_dial_schedule.csv
Due: none

Add files via upload
  metadata/metadata_ssf_abc_list.csv
  metadata/metadata_ssf_entities.csv
  metadata/metadata_ssf_xsd_change.csv
Due: none

Add files via upload
  tititi.txt
Due: none

Update master_data_sql.py
  src/extract/master_data_sql.py
Due: ruff, mypy

Update transformations.py
  src/validate/transformations.py
Due: ruff, mypy

Update test_get_master_data.py
  test/test_extract/test_get_master_data.py
Due: ruff

Update test_validate.py
  test/test_transform/test_validate.py
Due: ruff

Update sources_util.py
  src/utils/sources_util.py
Due: ruff, mypy

Update Run_YAML_mapping_descriptive.py
  notebooks/Run_YAML_mapping_descriptive.py
Due: ruff

Update int_ssf_ext_cust_collateral_eligibility.yml
  business_logic/integration/int_ssf_ext_cust_collateral_eligibility.yml
Due: none
