Repository dragosr90/data-sourcing-test: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy

ruff:
  name: ruff format
  entry: ruff format
  language: python

mypy:
  name: mypy
  entry: mypy
  language: python

Add files via upload
  business_logic/integration/Untitled_Notebook_2025_04_29_16_44_43 (28).csv
  business_logic/integration/Untitled_Notebook_2025_04_29_16_44_43 (29).csv
Due: none

Update pd_ucr_counterparty.yml
  business_logic/integration/pd_ucr_counterparty.yml
Due: none

Update ADF_log.txt
  ADF_log.txt
Due: none

Create dial_staging_process.py
  scripts/dial_staging_process.py
Due: ruff, mypy

Create ssf_staging_process.py
  scripts/ssf_staging_process.py
Due: ruff, mypy

Update extract_nonssf_data.py
  staging/extract_nonssf_data.py
Due: none

Update test_extract_non_ssf_data.py
  test/staging/test_extract_non_ssf_data.py
Due: ruff

Update pre_commit_run_all_files_log.txt
  pre_commit_run_all_files_log.txt
Due: none

Update nonssf_staging_process.py
  scripts/nonssf_staging_process.py
Due: ruff, mypy

Add files via upload
  GGOP.xlsx
  Untitled_Notebook_2025_04_29_16_44_43 (30).csv
Due: none

Create aab_legal_entity.yml
  business_logic/integration/aab_legal_entity.yml
Due: none

Update aab_legal_entity.yml
  business_logic/integration/aab_legal_entity.yml
Due: none

Add files via upload
  business_logic/integration/fbs_pd_ucr_step2.csv
  business_logic/integration/ssf_fbs_cpxcf.csv
Due: none

Create run_log.txt
  business_logic/integration/run_log.txt
Due: none

Update run_log.txt
  business_logic/integration/run_log.txt
Due: none

Update master_data_sql.py
  src/extract/master_data_sql.py
Due: ruff, mypy

Path conditions:
  ruff: (any of: ^(src|test|notebooks|scripts)/.*\.py$ and \.py$) or (any of: ^(src|test|notebook|scripts)/.*\.py$ and \.py$)
  mypy: any of: ^(src|scripts)/.*\.py$ and \.py$
